urxvt*depth: 32
urxvt*foreground: #e5e5e5
urxvt*background: #1d1d1d
urxvt*cursorColor: #FFF9EC
urxvt*scrollBar: false
urxvt*iso14755:	 false

urxvt.font: xft:terminus:style=Regular:size=11

urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button: 1
urxvt.matcher.pattern.1:\\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
urxvt.matcher.rend.0: Uline Bold fg5

